spring:
  application:
    name: premier-backend
  datasource:
    url: jdbc:mysql://localhost:3306/premier_league_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  sql:
    init:
      mode: always
      schema-locations: classpath:sql/premier_db.sql
      data-locations: classpath:sql/premier_seeds.sql

server:
  port: 8080

jwt:
  secret: miSecretSuperSeguroParaLaPremierLeagueBackend2024
  expiration: 86400000
  refresh-expiration: 604800000

logging:
  level:
    root: INFO
    com.premier.league: DEBUG
